html {
  font-size: 62.5%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(to right, #297e28 0%, #188a12 100%); 
  font-family: 'Krub', sans-serif;
}

.main {
  max-width: 45rem;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.titulo {
  font-size: 3rem;
  padding: 1.5rem;
  text-align: center;
  margin: auto;
  color: #cccccc;
  font-weight: normal;
}

.titulo span {
  font-weight: bold; 
}

.box {
  padding: 1rem;
  margin: 0 1rem 0 1rem;
  box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.4);
  background-color: white;
  border-radius: 0.5rem;
  height: auto;
}

label {
  color: white;
  background-color: #022932;
  display: block;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.button-container:last-child {
  margin-right: 0;
}

.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color:#0b670d;
  padding: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn:hover {
  background-color:#206d38;
}

.text-input {
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5rem;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-family: sans-serif;
}

.error {
  background-color: #b21c14;    
  padding: 1rem;    
  font-size: 1.3rem;    
  margin: 1rem auto 0;
  color: white;   
  text-align: center; 
  text-transform: uppercase;
  font-weight: bold;    
  border-radius: 0.5rem;
}

.footer {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.6rem;
  color: #cccccc;  
}

.footer .flecha {  
  color: #eaff12;
  font-weight: bold;
}

.footer span {  
  font-weight: bold;
}